<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    
   <add name="tallyserver175" connectionString="Data Source=27.106.125.26;Initial Catalog=db_mumbai175;User ID=sa;Password=optimalrx"/>
    <add name="tallyserverTallyDB" connectionString="Data Source=27.106.125.26;Initial Catalog=tallydb;User ID=sa;Password=optimalrx"/>
  <!--nagpur-->
	<!--<add name="local" connectionString="Data Source=PRIMENAGPUR;Initial Catalog=prime_013;User ID=sa"/>-->
    
  <!--auragabad-->
	<!--<add name="local" connectionString="Data Source=PRIMESERVER\PRIMESERVER;Initial Catalog=prime_023;User ID=sa"/>-->
    
    
    <!--jaipur-->
	<!--<add name="local" connectionString="Data Source=prime-1;Initial Catalog=prime_003_new;User ID=sa"/>-->
	</connectionStrings>
<appSettings>
</appSettings>
</configuration>